<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Monitor Your Expenses</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Cost</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Fertilizer</td>
                <td>0</td>
                <td>2025-02-20</td>
            </tr>
            <tr>
                <td>Seeds</td>
                <td>0</td>
                <td>2025-02-18</td>
            </tr>
        </table>
    </div>
</body>
</html>
